.grid {
    display: grid;
    height: 100vh;
    grid-template-areas:
        "logo header profile"
        "sidebar main main"
        "footer footer footer";
    grid-template-columns: 1fr 8fr 2fr;
    grid-template-rows: 10vh 85vh 5vh;
}
